{%extends 'layout.html'%}
{%block content%}
<div class="container-fluid d-grid">
    <h1
      id="about-us-title"
      class="mx-auto mt-2 mb-5 fw-bold font-monospace border-bottom border-danger"
    >
      SOS Hotline Cameroon Yaoundé
    </h1>
    <div class="container-sm mx-auto">
        <ul class="list-group">
            <li class="list-group-item"><h4>SOS Village</h4>Contact Number: + 237 222 212 726 <br><a class="link-info text-decoration-none" href="https://www.sosvecameroun.org/en/" target="_blank">https://www.sosvecameroun.org/en/</a></li>
            <li class="list-group-item"><h4>Hôpital Général de Douala</h4>Contact Number: : +237 222 22 22 00<br><a class="link-info text-decoration-none" href="https://www.hopitalgeneral-douala.cm" target="_blank">https://www.hopitalgeneral-douala.cm</a><br><a class="link-info text-decoration-none" href="https://www.sosvecameroun.org/en/" target="_blank">Check Out Other Area</a></li>
            <li class="list-group-item"><h4>Cameroon Association for the Prevention of Mental Disorders (CAPMD)</h4>
                Contact Number: +237 233 423 441<br>
                <a class="link-info text-decoration-none" href="https://capmd-cameroon.org" target="_blank">https://capmd-cameroon.org</a></li>
            <li class="list-group-item"><h4>Mental Health Support Network Cameroon (MHSNC)</h4>
                Contact Number: +237 222 313 214<br>
                <a class="link-info text-decoration-none" href="https://mhsncameroon.org" target="_blank">https://mhsncameroon.org</a></li>
            <li class="list-group-item"><h4>Cameroon Mental Wellness Network (CMWN)</h4>
                Contact Number: +237 233 999 000<br>
                <a class="link-info text-decoration-none" href="https://cmwn.org" target="_blank">https://cmwn.org</a></li>       
    </div>
</div>
{%endblock content%}